In [ ]:
import numpy as np
import matplotlib.pyplot as plt

row=10
col=10
A = np.array(['INF', 'SIF', 'TSP'])
B = np.array([-3, 0, 4, 7])
new_B=B.astype('i')
print (new_B.dtype)
C=np.array([-3, 0, 4, 7])
new_C= B.astype(bool)
print(new_C.dtype)

Gambar = np.zeros(shape=(row, col, 3), dtype=np.uint16)
Gambar_new =np.uint8(Gambar)

int32
bool

In [ ]:
print("\033c")
#To close all
#PART 1


#Constructing a Set (there are two methods)
Set_1 = {"Toyota", "Daihatsu", "Honda"}
Set_2 = set(("Toyota", "Daihatsu", "Honda"))
print("Tipe data Set_1 adalah ", type(Set_1))
print("Tipe data Set_2 adalah ", type(Set_2))
print("Data Set_1: ", Set_1)
print("Data Set_2: ", Set_2)
print("-------------------------------------")

#Print every item of Set_1
for x in Set_1:
 print(x)
print("--------------------------------------")

#Check the length of the set
print(len(Set_1))

#Check if a key exist
if "Daihatsu" in Set_1:
 print("Yes, 'Daihatsu is an item in Set_1.")

#Add an item
Set_1.add("Mitsubishi")
print(Set_1)

#Add multiple items
Set_1.update(["Suzuki", "Mazda", "Nissan"])
print(Set_1)

c
Tipe data Set_1 adalah  <class 'set'>
Tipe data Set_2 adalah  <class 'set'>
Data Set_1:  {'Toyota', 'Daihatsu', 'Honda'}
Data Set_2:  {'Toyota', 'Daihatsu', 'Honda'}
-------------------------------------
Toyota
Daihatsu
Honda
--------------------------------------
3
Yes, 'Daihatsu is an item in Set_1.
{'Toyota', 'Daihatsu', 'Mitsubishi', 'Honda'}
{'Honda', 'Nissan', 'Suzuki', 'Daihatsu', 'Mazda', 'Mitsubishi', 'Toyota'}

In [ ]:
#PART 2
#Remove an item (method 1) Set_1.remove("Honda")
print(Set_1)

#Remove an item (method 2)
Set_1.discard ("Mazda")
print(Set_1)

#Delete (pop) the last inserted key
Set_1.pop()
print(Set_1)

#Clear the set
Set_1.clear()
print(Set_1)

#Delete the set
del Set_1
print("-----------------------------")

#Union of two sets
set1={"a", "b", "c"}
set2= {1, 2, 3}
set3=set1.union(set2)
print(set3)
print("-----------------------------")

#Set 1 takes copies of all items of set 2
set1 = {"a", "b", "c"}
set2= {1, 2, 3}
set1.update(set2)
print(set1)

{'Honda', 'Nissan', 'Suzuki', 'Daihatsu', 'Mazda', 'Mitsubishi', 'Toyota'}
{'Honda', 'Nissan', 'Suzuki', 'Daihatsu', 'Mitsubishi', 'Toyota'}
{'Nissan', 'Suzuki', 'Daihatsu', 'Mitsubishi', 'Toyota'}
set()
-----------------------------
{'a', 1, 2, 3, 'c', 'b'}
-----------------------------
{'a', 1, 2, 3, 'c', 'b'}

In [ ]:
#Case 1
print("Case 1")
#Data bertipe Boolean yang Kita Deklarasikan (Cara Standar)
f = bool(True)
g = bool (False)
print(f)
print(g)
print("=======================================")

#Case 2
print("Case 2")
#Data Bertipe Boolean Dalam Berbagai Konteks
#Tercatat Dengan Sendirinya oleh Komputer tanpa Deklarasi.
print(3>2)
print(3+2==5)
print (3<2)
print("=======================================")

#Case 3
print("Case 3")
#Data Bertipe Boolean Dalam Berbagai Konteks
#Tercatat Dengan Sendirinya oleh Komputer tanpa Deklarasi.
Penghasilan= 20000000
PenghasilanTanpaPajak = 4000000
if Penghasilan <= PenghasilanTanpaPajak:
  PajakYangHarusDibayar = 0

if Penghasilan > PenghasilanTanpaPajak:
  PajakYangHarusDibayar = 0.1 * Penghasilan
print("Pajak yang harus Anda bayar: Rp ", PajakYangHarusDibayar)

Case 1
True
False
=======================================
Case 2
True
True
False
=======================================
Case 3
Pajak yang harus Anda bayar: Rp  2000000.0

In [ ]:


#PART 2
#Case 4
print("Case 4")
#Semua data yang tidak nol (kosong) memiliki nilai Boolean True
a = 3
b = "Ini data string."
c = ("laptop", "buku", "ballpen")
d = ["laptop", "buku", "ballpen"]

#integer
#string
#tuple
#list
#set
e = {"laptop":"asus", "buku":"buku_teks", "ballpen": "arrow"} #dictionary
f = {1, 2, 3, 4, 5}
print(bool(a))
print(bool(b))
print (bool(c))
print(bool(d))
print(bool(e))
print (bool(f))
print("=================================")

Case 4
True
True
True
True
True
True
=================================

In [ ]:
#PART 3
#Case 5
print("Case 5")
#Variabel yang kosong memiliki nilai Boolean False
a = 0
b = ""
C = ()
d = []
e = {}
#integer null
#string kosong
#tuple kosong
#list kosong
#dictionary/set kosong
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
print(bool(e))
print("===============")
#Case 6
print("Case 6")
#Variabel yang panjangnya nol memiliki nilai Boolean False
class myclass():
 def __len__(self):
  return 0
print (bool (myclass()))
print("================")

Case 5
False
False
True
False
False
=====
Case 6
False
================

In [ ]:
import matplotlib.pyplot as plt

# Meminta pengguna untuk memasukkan dua angka
angka_1 = float(input("Masukkan angka pertama: "))
angka_2 = float(input("Masukkan angka kedua: "))

# Menyiapkan data untuk plot
labels = ['Angka 1', 'Angka 2']
values = [angka_1, angka_2]

# Membuat plot grafik batang
plt.bar(labels, values)
plt.xlabel('Angka')
plt.ylabel('Nilai')
plt.title('Perbandingan Angka')

# Menampilkan informasi tentang perbandingan kedua angka
if angka_1 == angka_2:
    plt.text(0.5, max(values) * 0.9, 'Kedua angka sama')
elif angka_1 > angka_2:
    plt.text(0.5, max(values) * 0.9, 'Angka 1 lebih besar')
else:
    plt.text(0.5, max(values) * 0.9, 'Angka 2 lebih besar')

plt.show()

In [ ]:
import matplotlib.pyplot as plt

angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

angka_terpilih = []
angka_tidak_terpilih = []


for num in angka:
    if (num > 5 and num % 2 == 0) or num < 3:
        angka_terpilih.append(num)
    else:
        angka_tidak_terpilih.append(num)

plt.bar(["Terpilih", "Tidak Terpilih"], [len(angka_terpilih), len(angka_tidak_terpilih)], color=['green', 'red'])
plt.xlabel('Kondisi')
plt.ylabel('Jumlah Angka')
plt.title('Perbandingan Angka yang Memenuhi Kondisi')
plt.show()